---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_charges
    body:
      encoding: UTF-8
      string: '{"cancelled_or_completed_callback_url":"http://sample.com/123/callback","description":"Example
        charge","coin_currency":"usdt","coin_amount":10.99,"usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:H0a9sNH3X5kemqIxI6a6PS9QuKs=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dbcb2caee3c5fe1732f3d1d375ca9d94"
    body:
      encoding: UTF-8
      string: '{"id":146,"coin_currency":"usdt","coin_amount":10.99,"fiat_currency":null,"fiat_amount":null,"status":"pending","ref":"MDR1591502249","description":"Example
        charge","cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=146","cancelled_or_completed_redirect_url":null,"remitano_payment_url":"http://localhost:3200/payment_gateway/pay/MDR1591502249","created_at_timestamp":1627286204,"expired_at_timestamp":1627287104,"payer_name":null,"payload":null}'
  recorded_at: Mon, 26 Jul 2021 07:56:44 GMT
recorded_with: VCR 4.0.0
