---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_charges
    body:
      encoding: UTF-8
      string: '{"coin_currency":"btc","coin_amount":10.99,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:lh+SYbwdMiHcvUIOoYCShHWyLho=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"coin_currency does not have a valid value"}'
  recorded_at: Fri, 28 May 2021 06:57:05 GMT
recorded_with: VCR 4.0.0
