---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_deposit_requests
    body:
      encoding: UTF-8
      string: '{"coin_currency":"btc","coin_amount":10.99,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:akR0rFptWoW1vcCrks1V0xJT+Zc=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"coin_currency does not have a valid value"}'
  recorded_at: Thu, 20 May 2021 07:56:17 GMT
recorded_with: VCR 4.0.0
