---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_charges
    body:
      encoding: UTF-8
      string: '{"cancelled_or_completed_callback_url":"http://sample.com/123/callback","description":"Example
        charge","fiat_currency":"AUD","fiat_amount":10.99,"usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:KD03wd4SZ3NB442kXIPrFHWVXPc=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e189359c5e2e6db3ea9f5067272010fe"
    body:
      encoding: UTF-8
      string: '{"id":144,"coin_currency":"usdt","coin_amount":7.33,"fiat_currency":"AUD","fiat_amount":10.99,"status":"pending","ref":"MDR0289485559","description":"Example
        charge","cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=144","cancelled_or_completed_redirect_url":null,"remitano_payment_url":"http://localhost:3200/payment_gateway/pay/MDR0289485559","created_at_timestamp":1627285893,"expired_at_timestamp":1627286793,"payer_name":null,"payload":null}'
  recorded_at: Mon, 26 Jul 2021 07:51:33 GMT
recorded_with: VCR 4.0.0
