---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/action_confirmations/29/confirm
    body:
      encoding: UTF-8
      string: '{"token":"285110","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:LHkinTzn0ceTUjLAqHUZsiLu3rY=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a24ce0fec82f4d0ee8c21aaf6c4044e"
    body:
      encoding: UTF-8
      string: '{"id":29,"status":"confirmed","actionable_type":"MerchantWithdrawalRequest","action":"confirm_by_action_confirmation!","via":"authenticator","status_explanation":"confirmed
        with token 285110","actionable_id":14,"message":null,"is_action_confirmation":true,"actionable":{"id":14,"merchant_withdrawal_ref":"akh9r1h29e14","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":29,"otp_counter":29,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"created_at_timestamp":1621497678}}'
  recorded_at: Thu, 20 May 2021 08:01:24 GMT
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/action_confirmations/31/confirm
    body:
      encoding: UTF-8
      string: '{"token":"369819","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:2M2bnlLPomohSx9cRR1MwvLFunI=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7494711ee91011552574178edcf0f3a8"
    body:
      encoding: UTF-8
      string: '{"id":31,"status":"confirmed","actionable_type":"MerchantWithdrawalRequest","action":"confirm_by_action_confirmation!","via":"authenticator","status_explanation":"confirmed
        with token 369819","actionable_id":15,"message":null,"is_action_confirmation":true,"actionable":{"id":15,"merchant_withdrawal_ref":"akh9r1h29e15","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","created_at_timestamp":1621786177}}'
  recorded_at: Sun, 23 May 2021 16:09:38 GMT
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawal_requests/15?usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:tjSFfVrjAcrt2R9jUBjWNYL+OR8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff471cd0aefd9753aa2f75eb19340b7e"
    body:
      encoding: UTF-8
      string: '{"id":15,"merchant_withdrawal_ref":"akh9r1h29e15","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","created_at_timestamp":1621786177}'
  recorded_at: Sun, 23 May 2021 16:09:38 GMT
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawal_requests
    body:
      encoding: UTF-8
      string: '{"merchant_withdrawal_ref":"akh9r1h29e16","coin_currency":"xrp","coin_amount":10.99,"receiver_pay_fee":true,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:HIvYgAFYXmeK+6kaWoh9pQ7WdaE=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"818b20dc738c03f9a2b511ac67ee5830"
    body:
      encoding: UTF-8
      string: '{"id":16,"merchant_withdrawal_ref":"akh9r1h29e16","status":"pending","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":32,"otp_counter":32,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","created_at_timestamp":1621786247}'
  recorded_at: Sun, 23 May 2021 16:10:47 GMT
[...]
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawal_requests/16?usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:qE7lX+PE++UOuFs8X2QMLGj2Jes=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e83a7b5627553a6cf7feef822f47daf0"
    body:
      encoding: UTF-8
      string: '{"id":16,"merchant_withdrawal_ref":"akh9r1h29e16","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","created_at_timestamp":1621786247}'
  recorded_at: Sun, 23 May 2021 16:10:48 GMT
recorded_with: VCR 4.0.0
