---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawals
    body:
      encoding: UTF-8
      string: '{"merchant_withdrawal_ref":"akh9r1h29e19","coin_currency":"xrp","coin_amount":10.99,"receiver_pay_fee":true,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:GlE2grCY0oSAWjw70i054pgyHNs=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"56752fad644e8707bab25a89139d45cd"
    body:
      encoding: UTF-8
      string: '{"id":18,"ref":"MWR1926186585","merchant_withdrawal_ref":"akh9r1h29e19","status":"pending","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":34,"otp_counter":34,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","created_at_timestamp":1622185568}'
  recorded_at: Fri, 28 May 2021 07:06:08 GMT
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/action_confirmations/34/confirm
    body:
      encoding: UTF-8
      string: '{"token":"023509","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:csa6w4BgSO1XVvnURhfMMI5QDkM=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c877b2d555dbdf343f51bab6e6bf72e8"
    body:
      encoding: UTF-8
      string: '{"id":34,"status":"confirmed","actionable_type":"MerchantWithdrawal","action":"confirm_by_action_confirmation!","via":"authenticator","status_explanation":"confirmed
        with token 023509","actionable_id":18,"message":null,"is_action_confirmation":true,"actionable":{"id":18,"ref":"MWR1926186585","merchant_withdrawal_ref":"akh9r1h29e19","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","created_at_timestamp":1622185568}}'
  recorded_at: Fri, 28 May 2021 07:06:08 GMT
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawals/18?usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:M0JO5yZa+RUILwvoq2UpycGwBmY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66cf71c050b2cc107168caba6f0317ce"
    body:
      encoding: UTF-8
      string: '{"id":18,"ref":"MWR1926186585","merchant_withdrawal_ref":"akh9r1h29e19","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","created_at_timestamp":1622185568}'
  recorded_at: Fri, 28 May 2021 07:06:09 GMT
recorded_with: VCR 4.0.0
