---
http_interactions:
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_charges?status=completed&usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:aQQiAZ1K7tet68cWt/n+IwwTt7o=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0eee76969e9662634530acc17c48665d"
    body:
      encoding: UTF-8
      string: '{"merchant_charges":[{"id":22,"coin_currency":"usdt","coin_amount":10.99,"status":"completed","ref":"MDR5588788611","description":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=22","remitano_payment_url":"http://localhost:3200/payment_gateway/pay/MDR5588788611","created_at_timestamp":1621497377,"expired_at_timestamp":0,"payer_name":"buyer"},{"id":21,"coin_currency":"usdt","coin_amount":10.99,"status":"completed","ref":"MDR7006193288","description":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=21","remitano_payment_url":"http://localhost:3200/payment_gateway/pay/MDR7006193288","created_at_timestamp":1621401988,"expired_at_timestamp":0,"payer_name":null},{"id":19,"coin_currency":"usdt","coin_amount":100.0,"status":"completed","ref":"MDR1248236781","description":null,"cancelled_or_comp[...]
