---
http_interactions:
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawals?status=cancelled&usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:dvZaj4IWAkyJEqGWbElqtIBhyo0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a542ce47161a2ed6412ad8c8613f1d87"
    body:
      encoding: UTF-8
      string: '{"merchant_withdrawals":[{"id":9,"ref":"MWR0306837501","merchant_withdrawal_ref":"akh9r1h29e9","status":"cancelled","coin_amount":10.99,"coin_currency":"xrp","coin_fee":0.0,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=9","created_at_timestamp":1621495169},{"id":8,"ref":"MWR8385898424","merchant_withdrawal_ref":"akh9r1h29e8","status":"cancelled","coin_amount":10.99,"coin_currency":"xrp","coin_fee":0.0,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=8","created_at_timestamp":1621495025},{"id":7,"ref[...]
