---
http_interactions:
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_deposit_requests/19?usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:VadfZMIlT9uCpiuPji5d7maRt84=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a2f6607a585f23c1a8ca6136a01f504"
    body:
      encoding: UTF-8
      string: '{"id":19,"coin_currency":"usdt","coin_amount":100.0,"status":"completed","cancelled_or_completed_callback_url":"http://sample.com/123/callback","remitano_payment_url":"localhost:3200/payment_gateway/pay/MDR1248236781","created_at_timestamp":1620093168}'
  recorded_at: Thu, 20 May 2021 07:56:17 GMT
recorded_with: VCR 4.0.0
