---
http_interactions:
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_charges/19?usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:i2pCySrcEIkh+HqE9k6hIqPk398=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"72401e84d6cdc5c4e748e0201234c9ad"
    body:
      encoding: UTF-8
      string: '{"id":19,"coin_currency":"usdt","coin_amount":100.0,"status":"completed","ref":"MDR1248236781","cancelled_or_completed_callback_url":"http://sample.com/123/callback","remitano_payment_url":"localhost:3200/payment_gateway/pay/MDR1248236781","created_at_timestamp":1620093168}'
  recorded_at: Fri, 28 May 2021 06:54:16 GMT
recorded_with: VCR 4.0.0
