---
http_interactions:
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawals?usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:e3hDs38TZKaROuGeajNbwEuFGz4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f61a3e2e50f7d1d56b819689f689c496"
    body:
      encoding: UTF-8
      string: '{"merchant_withdrawals":[{"id":18,"ref":"MWR1926186585","merchant_withdrawal_ref":"akh9r1h29e19","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=18","created_at_timestamp":1622185568},{"id":17,"ref":"MWR1411523474","merchant_withdrawal_ref":"akh9r1h29e18","status":"processing","coin_amount":10.99,"coin_currency":"xrp","coin_fee":2.0e-05,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=17","created_at_timestamp":1622185453},{"id[...]
