---
http_interactions:
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawals?page=2&per_page=5&status=cancelled&usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:nZJeqi3MCdBUJ8t9qui0LD3H91E=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"61d1a094de087217f80a3f40fc1c6c0a"
    body:
      encoding: UTF-8
      string: '{"merchant_withdrawals":[{"id":4,"ref":"MWR5644211320","merchant_withdrawal_ref":"akh9r1h29e3","status":"cancelled","coin_amount":10.99,"coin_currency":"xrp","coin_fee":0.0,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=4","created_at_timestamp":1621416824},{"id":3,"ref":"MWR8738142345","merchant_withdrawal_ref":"akh9r1h29e2","status":"cancelled","coin_amount":10.99,"coin_currency":"xrp","coin_fee":0.0,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=3","created_at_timestamp":1621416603},{"id":2,"ref":"MWR9023143621","merchant_withdrawal_ref":"akh9r1h29e1","status":"cancelled","coin_amount":10.99,"coin_currency":"xrp","coin_fee":0.0,"receiver_pay_fee":true,"action_confirmation_id":null,"otp_counter":null,"coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://sample.com/123/callback?remitano_id=2","created_at_timestamp":1621416518},{"id":1,"ref":"MWR1774298352","merchant_withdrawal_ref":"mwr2","status":"cancelled","coin_amount":100.0,"coin_currency":"usdt","coin_fee":0.0,"receiver_pay_fee":null,"action_confirmation_id":null,"otp_counter":null,"coin_address":"3BDS42pbFgxDn9uMSCBiWE5BcWFBVPPCAA","destination_tag":null,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://dummy.com/111?remitano_id=1","created_at_timestamp":1621401962}],"meta":{"per_page":5,"current_page":2,"next_page":null,"prev_page":1,"total_pages":2,"total_items":9}}'
  recorded_at: Tue, 08 Jun 2021 07:12:43 GMT
recorded_with: VCR 4.0.0
