---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_charges
    body:
      encoding: UTF-8
      string: '{"coin_currency":"usdt","coin_amount":10.99,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:KAd9sygInnj8CCEmNJSTq1afnwU=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8342279df77afbcd411d0e0e9223432b"
    body:
      encoding: UTF-8
      string: '{"id":63,"coin_currency":"usdt","coin_amount":10.99,"status":"pending","ref":"MDR4027222151","cancelled_or_completed_callback_url":"http://sample.com/123/callback","remitano_payment_url":"localhost:3200/payment_gateway/pay/MDR4027222151","created_at_timestamp":1622185022}'
  recorded_at: Fri, 28 May 2021 06:57:02 GMT
recorded_with: VCR 4.0.0
