---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_deposit_requests
    body:
      encoding: UTF-8
      string: '{"coin_currency":"usdt","coin_amount":10.99,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:0pdHyvw02icAuAn3g/zRfu3J2Po=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0ece713edd013b8fab04d54b911fc1bb"
    body:
      encoding: UTF-8
      string: '{"id":22,"coin_currency":"usdt","coin_amount":10.99,"status":"pending","cancelled_or_completed_callback_url":"http://sample.com/123/callback","remitano_payment_url":"localhost:3200/payment_gateway/pay/MDR5588788611","created_at_timestamp":1621497377}'
  recorded_at: Thu, 20 May 2021 07:56:17 GMT
recorded_with: VCR 4.0.0
