---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_charges
    body:
      encoding: UTF-8
      string: '{"coin_currency":"usdt","coin_amount":10.99,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","description":"Example
        charge","usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:Z9lVNAYWeb3R79N83MzGM+5MHOg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7504d0925da5f3d935e6148038113712"
    body:
      encoding: UTF-8
      string: '{"id":64,"coin_currency":"usdt","coin_amount":10.99,"status":"pending","ref":"MDR1341467273","description":"Example
        charge","cancelled_or_completed_callback_url":"http://sample.com/123/callback","remitano_payment_url":"localhost:3200/payment_gateway/pay/MDR1341467273","created_at_timestamp":1622393545}'
  recorded_at: Sun, 30 May 2021 16:52:25 GMT
recorded_with: VCR 4.0.0
