---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawal_requests
    body:
      encoding: UTF-8
      string: '{"merchant_withdrawal_ref":"akh9r1h29e1","coin_currency":"xrp","coin_amount":10.99,"receiver_pay_fee":true,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD0","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:Bw+Lsf952767vNETwDo+fr6J1Kw=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Merchant withdrawal ref has already been taken, Coin address
        is invalid"}'
  recorded_at: Thu, 20 May 2021 07:56:18 GMT
recorded_with: VCR 4.0.0
