---
http_interactions:
- request:
    method: post
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawals
    body:
      encoding: UTF-8
      string: '{"merchant_withdrawal_ref":"akh9r1h29e1","coin_currency":"xrp","coin_amount":10.99,"receiver_pay_fee":true,"cancelled_or_completed_callback_url":"http://sample.com/123/callback","coin_address":"rLpumSZQNJ6Cve7hfQcdkG9rJbJhkSV8AD0","destination_tag":1710676231,"remitano_username":null,"remitano_phone_number":null,"usec":0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:nAB2+jda7tI/NBqVgd1UgTKOnhY=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Merchant withdrawal ref has already been taken, Coin amount
        exceeds available balance, Coin address is invalid"}'
  recorded_at: Fri, 28 May 2021 07:02:25 GMT
recorded_with: VCR 4.0.0
