---
http_interactions:
- request:
    method: get
    uri: REMITANO_SERVER/api/v1/merchant/merchant_withdrawals/1?usec=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - APIAuth REMITANO_KEY:RiKhLlBte3lVMiwKvehhx+PIZh8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3ee5ae1a496791d93c7fbb1b3213a6ee"
    body:
      encoding: UTF-8
      string: '{"id":1,"ref":"MWR1774298352","merchant_withdrawal_ref":"mwr2","status":"cancelled","coin_amount":100.0,"coin_currency":"usdt","coin_fee":0.0,"receiver_pay_fee":null,"action_confirmation_id":null,"otp_counter":null,"coin_address":"3BDS42pbFgxDn9uMSCBiWE5BcWFBVPPCAA","destination_tag":null,"remitano_username":null,"remitano_phone_number":null,"cancelled_or_completed_callback_url":"http://dummy.com/111","created_at_timestamp":1621401962}'
  recorded_at: Fri, 28 May 2021 06:59:17 GMT
recorded_with: VCR 4.0.0
